Chatbot_Automation.json
{
  "name": "My Chatbot Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b0495b96-c119-42bf-b429-df9898e2290c",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -240,
        -16
      ],
      "id": "7052faf4-4c10-4d42-b3d5-c589fccc7902",
      "name": "Webhook",
      "webhookId": "b0495b96-c119-42bf-b429-df9898e2290c"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        320,
        -16
      ],
      "id": "575d0bed-be6f-4034-94dc-4cae255cd6dc",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -32,
        -16
      ],
      "id": "52bc1d8b-2f57-41ae-91f0-ec219bfe3004",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}",
        "contextWindowLength": 40
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -32,
        192
      ],
      "id": "5260515d-f0c2-4ae3-b12e-6e449794a66f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -176,
        192
      ],
      "id": "a2a4db91-cab1-49af-998a-4cd0e6438cf8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "samq8Gcb6TSqn3PQ",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "12257e24-75e7-4f29-8016-f0f4d20bf65b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8659bd7e124e2b9e112864bdfd1b69886a586a9728524b335fe9ce079360fb17"
  },
  "id": "WI2CuU237NgAwcLD",
  "tags": []
}