Video_Generate_Automation.json
{
  "name": "Video Generate Automation",
  "nodes": [
    {
      "parameters": {
        "content": "Generate script of video",
        "height": 272,
        "width": 704,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1712,
        -16
      ],
      "typeVersion": 1,
      "id": "8371f8ee-0fc2-47ea-b1b3-c5c35fbb2720",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Create video with Kling",
        "height": 272,
        "width": 720,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -960,
        -16
      ],
      "typeVersion": 1,
      "id": "061e46bb-6c1c-4827-86aa-f4e0fc2472dc",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "formTitle": "POV Content Machine",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Prompt ",
              "placeholder": "Waking up with"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -1664,
        64
      ],
      "id": "b8290b18-895e-4932-b90d-bc7dde24e2b9",
      "name": "On form submission",
      "webhookId": "ac050c48-f16d-4715-9c0d-a0f1c0ee33e2"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=> rompt for Image Generation\n> \n\n🎥 First-Person POV Image & Video Prompt Generator (Single Input → Unified Output)\n\n📌 Task:\nYou are an advanced AI specializing in transforming a short user-provided description into a hyper-realistic, cinematic first-person POV prompt. This single prompt is optimized for both text-to-image and text-to-video AI models such as Flux, MidJourney, Stable Diffusion, Runway Gen-3 Alpha, and Pika Labs.\n\n📌 The final output must be a single, AI-ready paragraph that:\n✔ Strictly adheres to first-person POV, ensuring immersion.\n✔ Begins with the image description and smoothly transitions into background animation details for video.\n✔ Includes visible limbs interacting with the environment.\n✔ Describes textures, lighting, sensory details, and environmental motion.\n✔ Follows structured formatting for AI consistency.\n✔ Stays under 950 characters.\n\nHere is the short user-provided description: {{ $json['Prompt '] }}\n\n🔹 POV Rules & Guidelines for Generating Prompts\n✅ First-Person Perspective Only\n\nThe viewer must feel like they are experiencing the moment firsthand.\nThe framing should mimic a GoPro-style immersive shot, with depth, interaction, and motion.\n✅ Visible Limbs for Immersion\n\nA hand, foot, or both must be visible in the foreground, actively engaging with the environment.\nThe limbs should be gripping, touching, moving, reacting—interacting with the world naturally.\n✅ World Interaction\n\nThe body should physically interact with objects (e.g., holding a shield in battle, adjusting a gas mask, gripping reins on horseback).\nThe world must feel alive and reactive to the viewer’s presence.\n✅ Sensory & Cinematic Detail\n\nThe scene should engage multiple senses:\nSight (lighting, colors, scale)\nTouch (heat, cold, textures)\nSound (distant echoes, wind howling, gunfire)\nSmell (burning wood, fresh rain, damp earth)\nInclude weather effects, motion, environmental conditions, and emotional weight (e.g., fear, awe, adrenaline, nostalgia).\n✅ Structured Formatting\n1️⃣ Foreground (POV Interaction - Image Focus): Start with \"First-person view POV GoPro shot of [describe hands/feet and their action]...\"\n2️⃣ Background (Scene & Environment - Video Focus): Transition into \"In the background, [describe scenery, lighting, animated environmental effects]...\"\n\n🔹 User Input (Single Prompt Field Example)\nExample Input: POV: You’re a knight in battle\n📌 AI-Generated Output (Example for “POV: You’re a Knight in Battle”)\nPOV: You’re a Knight in Battle\nFirst-person view POV GoPro shot of my gauntleted hands gripping the hilt of a longsword, the steel gleaming under the afternoon sun. Blood and mud splatter my armor as I brace for the enemy’s charge. My heartbeat pounds in my ears, my grip tightening as I prepare to strike. In the background, banners of rival kingdoms whip violently in the wind, soldiers locked in brutal combat. Arrows streak through the sky, their deadly tips glinting as they plunge into the earth. A warhorse rears nearby, its rider knocked from the saddle, the ground trembling beneath the weight of battle. Smoke billows from burning wooden carts, embers swirling through the air. The sky darkens as storm clouds gather, distant war horns blaring through the chaos. The scent of iron and sweat clings to the battlefield, a mix of fear and adrenaline surging through my veins. A warrior lunges—my blade meets his, sparks flying as the battle rages on.\n\n📌 AI-Generated Output (Example for “POV: You Wake Up as Cleopatra in Ancient Egypt”)\nPOV: You Wake Up as Cleopatra in Ancient Egypt\nFirst-person view POV GoPro shot of my elegant hands delicately adjusting a bejeweled golden collar, turquoise gemstones catching the warm glow of candlelight. My silk robe shimmers as I lift a goblet of wine, the cool metal pressing against my fingertips. The scent of lotus flowers drifts through the air, mixing with the smoky perfume of burning myrrh. In the background, towering marble pillars adorned with gold leaf glisten under flickering torches. Servants in flowing linen robes move gracefully, their hushed whispers blending with the soft trickle of a nearby fountain. The palace’s stained-glass windows cast colorful patterns onto the polished limestone floor, shifting as the breeze stirs the silk curtains. Beyond the open balcony, the Nile glistens beneath the moonlight, feluccas drifting along its surface. A tame leopard lounges beside my throne, its tail flicking lazily. A distant drum beats—a call for my presence in the royal court.\n\n📌 AI-Generated Output (Example for “POV: You’re a Viking at Sea”)\nPOV: You’re a Viking at Sea\nFirst-person view POV GoPro shot of my calloused hands gripping the rough wooden oar, veins straining as I pull through the churning icy waters. The cold wind bites against my exposed skin, my breath visible in the frigid air. The salt spray stings my face as waves crash against the longship, the hull creaking under the force of the tide. In the background, my fellow warriors row in sync, their fur-lined cloaks whipping in the wind, their voices roaring in a war chant. A sea serpent figurehead looms over the bow, cutting through the dense morning mist. The dark clouds overhead threaten an incoming storm, lightning flashing in the distance. Seagulls cry out, circling above as if warning of what lies ahead. The scent of wet wood, brine, and sweat mixes in the air as the ship heaves forward, the distant shoreline emerging on the horizon—our next raid awaits.\n\n📌 AI-Generated Output (Example for “POV: You’re a Soldier in the Trenches of World War I”)\nPOV: You’re a Soldier in the Trenches of World War I\nFirst-person view POV GoPro shot of my dirt-covered hands gripping a bolt-action rifle, my breath fogging against the freezing air. My uniform is soaked in mud, the damp fabric clinging to my skin. The wooden trench walls loom beside me, reinforced with sandbags, slick with rain. In the background, artillery shells streak through the night sky, their explosions illuminating the battlefield in violent flashes. The ground trembles with each impact, shaking loose debris from above. Barbed wire stretches across no man’s land, barely visible through the rolling fog. A comrade beside me fumbles for his cigarette, his fingers shaking as he lights a match. Machine gun fire rattles in the distance, muffled by the pounding rain. The acrid scent of gunpowder and rotting wood hangs in the air. A whistle pierces through the chaos—the signal to charge. My heart pounds as I hoist my rifle, the camera tilting upward toward the hellscape beyond the trench walls.\n\nFINAL REMINDER:\n\n- Output MUST be less than 950 characters\n- Output MUST be one json:\n{ \"prompt\": \"Generated text output here...\" }"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -1488,
        64
      ],
      "id": "eeb4fecb-2331-4d21-ab38-29f1cb2a5d89",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "sCiVd5LFRtzjx2Qq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const text = $json.content.parts[0].text;\nconst obj = JSON.parse(text);\nreturn {\n  prompt: obj.prompt\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1152,
        64
      ],
      "id": "b94e910a-6feb-405f-8d57-5b3cbd47b5ca",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer 1495d062ae9a742a5122a24d792892df"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sora-2-text-to-video\",\n  \"input\": {\n    \"prompt\": \"{{$json.prompt}}\",\n    \"aspect_ratio\": \"landscape\",\n    \"remove_watermark\": true\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -880,
        64
      ],
      "id": "5a9877e7-f5fb-459e-bfa2-e48a22d2f9a6",
      "name": "Create video"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -656,
        64
      ],
      "id": "58c6b98e-a0c3-4c9e-b441-94c7d2a5cf3c",
      "name": "Wait",
      "webhookId": "ceeafeb9-4339-4205-a77f-cba550e05f4e"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo?taskId=5aef991d44f6bdb9b82ff5bfb2a4562b",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 1495d062ae9a742a5122a24d792892df"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -448,
        64
      ],
      "id": "8a46bce0-6931-4a60-84c3-11f4f30e08a4",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Prompt ": "Waking up with Viking war in 2050",
          "submittedAt": "2025-12-07T09:47:24.139-05:00",
          "formMode": "test"
        }
      }
    ],
    "HTTP Request1": [
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "5aef991d44f6bdb9b82ff5bfb2a4562b",
            "model": "sora-2-text-to-video",
            "state": "success",
            "param": "{\"input\":\"{\\\"remove_watermark\\\":true,\\\"aspect_ratio\\\":\\\"landscape\\\",\\\"prompt\\\":\\\"POV: Waking up with Viking war in 2050. First-person view POV GoPro shot of my hands, still slick with sleep, gripping a futuristic vibro-axe, its hilt humming with barely contained energy. My augmented eyes adjust to the dim, smoky light filtering through the cracked viewport of my dropship. The metallic tang of ozone mixes with the faint scent of burnt circuits. In the background, the dropship lurches violently, alarms blaring. Outside, chaotic flashes of laser fire paint the smoke-choked battlefield. Distant war cries, a guttural mix of human and synthesized roars, echo through the oppressive atmosphere. Debris tumbles across the floor, the rough, recycled metal cold beneath my worn combat boots. A holographic display flickers erratically, showing a rapidly depleting shield integrity. Adrenaline surges as the ramp begins to lower, revealing the thunderous roar of war.\\\"}\",\"model\":\"sora-2-text-to-video\"}",
            "resultJson": "{\"resultWaterMarkUrls\":[\"https://tempfile.aiquickdraw.com/f/5aef991d44f6bdb9b82ff5bfb2a4562b/a21b9e00-4814-43eb-9f45-153393115f7a.mp4\"],\"resultUrls\":[\"https://tempfile.aiquickdraw.com/f/5aef991d44f6bdb9b82ff5bfb2a4562b/aaf93ead-0875-40ea-8aa1-974991b56852.mp4\"]}",
            "failCode": "",
            "failMsg": "",
            "costTime": 207,
            "completeTime": 1765204185000,
            "createTime": 1765203978000
          }
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create video": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "81b45eaa-60f1-4183-9acf-e8ee8e653c2f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8659bd7e124e2b9e112864bdfd1b69886a586a9728524b335fe9ce079360fb17"
  },
  "id": "KPIhGIX2lkDb3tX3",
  "tags": []
}